# Build files
build
vendor
composer.lock
node_modules

# Log files
*.log

# Cache files
.phpcs/*.json
.phpunit.result.cache

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.thumbsdb

# IDE files
*.code-workspace
.idea
.vscode

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# NPM files (this isn't a front-end package that we release)
package-lock.json
